In [3]:
import pandas as pd
'''This is a Code Cell'''

'This is a Code Cell'

In [7]:
tuition_cost = pd.read_csv('tuition_cost.csv', header = None)
tuition_cost

,0,1,2,3,4,5,6,7,8,9
0,name,state,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
1,Aaniiih Nakoda College,Montana,MT,Public,2 Year,NaN,2380,2380,2380,2380
2,Abilene Christian University,Texas,TX,Private,4 Year,10350,34850,45200,34850,45200
3,Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474,4128,12602,12550,21024
4,Academy College,Minnesota,MN,For Profit,2 Year,NaN,17661,17661,17661,17661
...,...,...,...,...,...,...,...,...,...,...
2969,York Technical College,South Carolina,SC,Public,2 Year,NaN,5740,5740,12190,12190
2970,Young Harris College,Georgia,GA,Private,4 Year,12372,29117,41489,29117,41489
2971,Youngstown State University,Ohio,OH,Public,4 Year,9400,8950,18350,14950,24350
2972,Yuba College,California,CA,Public,2 Year,NaN,1400,1400,8420,8420
2973,Zane State College,Ohio,OH,Public,2 Year,NaN,5070,5070,9930,9930

In [6]:
tuition_income = pd.read_csv('tuition_income.csv', header = None)
tuition_income

C:\Users\johnn\AppData\Local\Temp\ipykernel_15480\22666977.py:1: DtypeWarning: Columns (2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  tuition_income = pd.read_csv('tuition_income.csv', header = None)

,0,1,2,3,4,5,6
0,name,state,total_price,year,campus,net_cost,income_lvl
1,Piedmont International University,NC,20174,2016,On Campus,11475,"0 to 30,000"
2,Piedmont International University,NC,20174,2016,On Campus,11451,"30,001 to 48,000"
3,Piedmont International University,NC,20174,2016,On Campus,16229,"48_001 to 75,000"
4,Piedmont International University,NC,20174,2016,On Campus,15592,"75,001 to 110,000"
...,...,...,...,...,...,...,...
209008,Alabama A & M University,AL,23462,2018,Off Campus,15089.45111,"0 to 30,000"
209009,Alabama A & M University,AL,23462,2018,Off Campus,14810.60535,"30,001 to 48,000"
209010,Alabama A & M University,AL,23462,2018,Off Campus,17167.4671,"48_001 to 75,000"
209011,Alabama A & M University,AL,23462,2018,Off Campus,17558.05619,"75,001 to 110,000"
209012,Alabama A & M University,AL,23462,2018,Off Campus,19433.08888,"Over 110,000"

In [8]:
historical_tuition = pd.read_csv('historical_tuition.csv', header = None)
historical_tuition

                    0        1                2             3
0                type     year     tuition_type  tuition_cost
1    All Institutions  1985-86     All Constant         10893
2    All Institutions  1985-86  4 Year Constant         12274
3    All Institutions  1985-86  2 Year Constant          7508
4    All Institutions  1985-86      All Current          4885
..                ...      ...              ...           ...
266           Private  2016-17  4 Year Constant         41468
267           Private  2016-17  2 Year Constant         24882
268           Private  2016-17      All Current         40925
269           Private  2016-17   4 Year Current         41468
270           Private  2016-17   2 Year Current         24882

[271 rows x 4 columns]

In [13]:
diversity_school = pd.read_csv('diversity_school.csv', header = None)
diversity_school[:50]

,0,1,2,3,4
0,name,total_enrollment,state,category,enrollment
1,University of Phoenix-Arizona,195059,Arizona,Women,134722
2,University of Phoenix-Arizona,195059,Arizona,American Indian / Alaska Native,876
3,University of Phoenix-Arizona,195059,Arizona,Asian,1959
4,University of Phoenix-Arizona,195059,Arizona,Black,31455
5,University of Phoenix-Arizona,195059,Arizona,Hispanic,13984
6,University of Phoenix-Arizona,195059,Arizona,Native Hawaiian / Pacific Islander,1019
7,University of Phoenix-Arizona,195059,Arizona,White,58209
8,University of Phoenix-Arizona,195059,Arizona,Two Or More Races,19039
9,University of Phoenix-Arizona,195059,Arizona,Unknown,65163
10,University of Phoenix-Arizona,195059,Arizona,Non-Resident Foreign,3355
11,University of Phoenix-Arizona,195059,Arizona,Total Minority,68332
12,Ivy Tech Community College-Central Indiana,91179,Indiana,Women,53476
13,Ivy Tech Community College-Central Indiana,91179,Indiana,American Indian / Alaska Native,357
14,Ivy Tech Community College-Central Indiana,91179,Indiana,Asian,1369
15,Ivy Tech Community College-Central Indiana,91179,Indiana,Black,12370
16,Ivy Tech Community College-Central Indiana,91179,Indiana,Hispanic,5533
17,Ivy Tech Community College-Central Indiana,91179,Indiana,Native Hawaiian / Pacific Islander,0
18,Ivy Tech Community College-Central Indiana,91179,Indiana,White,61498
19,Ivy Tech Community College-Central Indiana,91179,Indiana,Two Or More Races,1804
20,Ivy Tech Community College-Central Indiana,91179,Indiana,Unknown,8224
21,Ivy Tech Community College-Central Indiana,91179,Indiana,Non-Resident Foreign,24
22,Ivy Tech Community College-Central Indiana,91179,Indiana,Total Minority,21433
23,Liberty University,81459,Virginia,Women,48329
24,Liberty University,81459,Virginia,American Indian / Alaska Native,447
25,Liberty University,81459,Virginia,Asian,856
26,Liberty University,81459,Virginia,Black,14751
27,Liberty University,81459,Virginia,Hispanic,1186
28,Liberty University,81459,Virginia,Native Hawaiian / Pacific Islander,151
29,Liberty University,81459,Virginia,White,39062
30,Liberty University,81459,Virginia,Two Or More Races,1772
31,Liberty University,81459,Virginia,Unknown,22198
32,Liberty University,81459,Virginia,Non-Resident Foreign,1036
33,Liberty University,81459,Virginia,Total Minority,19163
34,Lone Star College system,69395,Texas,Women,41268
35,Lone Star College system,69395,Texas,American Indian / Alaska Native,168
36,Lone Star College system,69395,Texas,Asian,4198
37,Lone Star College system,69395,Texas,Black,12094
38,Lone Star College system,69395,Texas,Hispanic,23751
39,Lone Star College system,69395,Texas,Native Hawaiian / Pacific Islander,0
40,Lone Star College system,69395,Texas,White,23615
41,Lone Star College system,69395,Texas,Two Or More Races,1997
42,Lone Star College system,69395,Texas,Unknown,2273
43,Lone Star College system,69395,Texas,Non-Resident Foreign,1299
44,Lone Star College system,69395,Texas,Total Minority,42208
45,Miami Dade College,66046,Florida,Women,38323
46,Miami Dade College,66046,Florida,American Indian / Alaska Native,47
47,Miami Dade College,66046,Florida,Asian,655
48,Miami Dade College,66046,Florida,Black,10722
49,Miami Dade College,66046,Florida,Hispanic,44870

In [10]:
IPEDS_data = pd.read_csv('IPEDS_data.csv', header = None)
IPEDS_data

,0,1,2,3,4,5,6,7,8,9,...,135,136,137,138,139,140,141,142,143,144
0,ID number,Name,year,ZIP code,Highest degree offered,County name,Longitude location of institution,Latitude location of institution,Religious affiliation,Offers Less than one year certificate,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal gr...,Percent of freshmen receiving state/local gran...,Percent of freshmen receiving institutional gr...,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student ...,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment...,Endowment assets (year end) per FTE enrollment...
1,100654,Alabama A & M University,2013,35762,Doctor's degree - research/scholarship,Madison County,-86.568502,34.783368,Not applicable,Implied no,...,81,81,7,1,32,89,89,1,NaN,NaN
2,100663,University of Alabama at Birmingham,2013,35294-0110,Doctor's degree - research/scholarship and pro...,Jefferson County,-86.80917,33.50223,Not applicable,Implied no,...,36,36,10,0,60,56,55,5,24136,NaN
3,100690,Amridge University,2013,36117-3553,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.17401,32.362609,Churches of Christ,Implied no,...,90,90,0,40,90,100,100,0,NaN,302
4,100706,University of Alabama in Huntsville,2013,35899,Doctor's degree - research/scholarship and pro...,Madison County,-86.63842,34.722818,Not applicable,Yes,...,31,31,4,1,63,46,46,3,11502,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1530,451671,University of South Florida-Sarasota-Manatee,2013,34243-2049,Master's degree,Manatee County,-82.562951,27.391766,Not applicable,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4422,NaN
1531,454184,The Kingâ€™s College,2013,10004,Bachelor's degree,New York County,-74.012348,40.706861,Interdenominational,Implied no,...,34,34,10,4,100,57,56,12,NaN,935
1532,454582,Ottawa University-Online,2013,66067,Master's degree,Franklin County,-95.263775,38.602692,American Baptist,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20863
1533,455770,Providence Christian College,2013,91104,Bachelor's degree,Los Angeles County,-118.118491,34.17275,Undenominational,Implied no,...,50,50,14,0,100,64,64,14,NaN,350
1534,456490,Polytechnic University of Puerto Rico-Orlando,2013,32825,Master's degree,Orange County,-81.254951,28.55147,Not applicable,Implied no,...,100,100,0,50,0,50,50,0,NaN,NaN

In [11]:
salary_potential = pd.read_csv('salary_potential.csv', header = None)
salary_potential

,0,1,2,3,4,5,6
0,rank,name,state_name,early_career_pay,mid_career_pay,make_world_better_percent,stem_percent
1,1,Auburn University,Alabama,54400,104500,51,31
2,2,University of Alabama in Huntsville,Alabama,57500,103900,59,45
3,3,The University of Alabama,Alabama,52300,97400,50,15
4,4,Tuskegee University,Alabama,54500,93500,61,30
...,...,...,...,...,...,...,...
931,22,Viterbo University,Wisconsin,46800,81900,62,3
932,23,Concordia University-Wisconsin,Wisconsin,46700,81600,61,9
933,24,University of Wisconsin-Parkside,Wisconsin,46000,81400,47,17
934,25,University of Wisconsin-River Falls,Wisconsin,47100,81300,52,14
935,1,University of Wyoming,Wyoming,52400,98800,58,25

This is a Text Cell