In [60]:
import pandas as pd
import seaborn as sns

'''This is a Code Cell'''

ModuleNotFoundError: No module named 'seaborn'

In [7]:
tuition_cost = pd.read_csv('tuition_cost.csv', header = None)
tuition_cost

,0,1,2,3,4,5,6,7,8,9
0,name,state,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
1,Aaniiih Nakoda College,Montana,MT,Public,2 Year,NaN,2380,2380,2380,2380
2,Abilene Christian University,Texas,TX,Private,4 Year,10350,34850,45200,34850,45200
3,Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474,4128,12602,12550,21024
4,Academy College,Minnesota,MN,For Profit,2 Year,NaN,17661,17661,17661,17661
...,...,...,...,...,...,...,...,...,...,...
2969,York Technical College,South Carolina,SC,Public,2 Year,NaN,5740,5740,12190,12190
2970,Young Harris College,Georgia,GA,Private,4 Year,12372,29117,41489,29117,41489
2971,Youngstown State University,Ohio,OH,Public,4 Year,9400,8950,18350,14950,24350
2972,Yuba College,California,CA,Public,2 Year,NaN,1400,1400,8420,8420
2973,Zane State College,Ohio,OH,Public,2 Year,NaN,5070,5070,9930,9930

In [22]:
tuition_income = pd.read_csv('tuition_income.csv')
tuition_income

,name,state,total_price,year,campus,net_cost,income_lvl
0,Piedmont International University,NC,20174,2016,On Campus,11475.00000,"0 to 30,000"
1,Piedmont International University,NC,20174,2016,On Campus,11451.00000,"30,001 to 48,000"
2,Piedmont International University,NC,20174,2016,On Campus,16229.00000,"48_001 to 75,000"
3,Piedmont International University,NC,20174,2016,On Campus,15592.00000,"75,001 to 110,000"
4,Piedmont International University,NC,20514,2017,On Campus,11668.39249,"0 to 30,000"
...,...,...,...,...,...,...,...
209007,Alabama A & M University,AL,23462,2018,Off Campus,15089.45111,"0 to 30,000"
209008,Alabama A & M University,AL,23462,2018,Off Campus,14810.60535,"30,001 to 48,000"
209009,Alabama A & M University,AL,23462,2018,Off Campus,17167.46710,"48_001 to 75,000"
209010,Alabama A & M University,AL,23462,2018,Off Campus,17558.05619,"75,001 to 110,000"
209011,Alabama A & M University,AL,23462,2018,Off Campus,19433.08888,"Over 110,000"

In [23]:
historical_tuition = pd.read_csv('historical_tuition.csv')
historical_tuition

                 type     year     tuition_type  tuition_cost
0    All Institutions  1985-86     All Constant         10893
1    All Institutions  1985-86  4 Year Constant         12274
2    All Institutions  1985-86  2 Year Constant          7508
3    All Institutions  1985-86      All Current          4885
4    All Institutions  1985-86   4 Year Current          5504
..                ...      ...              ...           ...
265           Private  2016-17  4 Year Constant         41468
266           Private  2016-17  2 Year Constant         24882
267           Private  2016-17      All Current         40925
268           Private  2016-17   4 Year Current         41468
269           Private  2016-17   2 Year Current         24882

[270 rows x 4 columns]

In [56]:
diversity_school = pd.read_csv('diversity_school.csv')
mask_total_minority = diversity_school['category'] == "Total Minority"
diversity_prop = diversity_school[mask_total_minority]
diversity_prop["diversity_prop"] = diversity_prop['enrollment'] / diversity_prop["total_enrollment"]
diversity_prop = diversity_prop.sort_values( by="diversity_prop", ascending=False)
mask_total_enrollment = diversity_prop['total_enrollment'] > 10000
diversity_prop = diversity_prop[mask_total_enrollment]
diversity_prop[:20]

sns.barplot(data = merge, x = "per capita", y = "state", orient = 'h', color = "gray")

C:\Users\johnn\AppData\Local\Temp\ipykernel_15480\2096847270.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diversity_prop["diversity_prop"] = diversity_prop['enrollment'] / diversity_prop["total_enrollment"]

,name,total_enrollment,state,category,enrollment,diversity_prop
5290,City University of New York Bronx Community Co...,11506,New York,Total Minority,10979,0.954198
956,South Texas College,30180,Texas,Total Minority,28644,0.949105
2331,University of Texas-Pan American,21015,Texas,Total Minority,19252,0.916108
6148,Florida A&M University,10241,Florida,Total Minority,9366,0.914559
6137,NaN,10265,NaN,Total Minority,9373,0.913103
5048,University of Texas at Brownsville and Texas S...,11943,Texas,Total Minority,10833,0.907059
3376,Rio Hondo College,16263,California,Total Minority,14700,0.903892
3926,Los Angeles Trade-Technical College,14688,California,Total Minority,13159,0.895901
1220,El Paso Community College,28308,Texas,Total Minority,25229,0.891232
4344,Prince George's Community College,13678,Maryland,Total Minority,12138,0.887410
2144,Cerritos College,21774,California,Total Minority,18944,0.870028
1451,Pasadena City College,26611,California,Total Minority,22897,0.860434
5818,North Carolina A&T State University,10725,North Carolina,Total Minority,9221,0.859767
54,Miami Dade College,66046,Florida,Total Minority,56561,0.856388
4542,San Bernardino Valley College,12965,California,Total Minority,11099,0.856074
6192,Los Angeles Mission College,10191,California,Total Minority,8712,0.854872
4784,City University of New York Herbert H. Lehman ...,12398,New York,Total Minority,10595,0.854573
1121,Mt. San Antonio College,29045,California,Total Minority,24745,0.851954
1462,City University of New York Borough of Manhatt...,26606,New York,Total Minority,22515,0.846238
6214,Los Angeles Harbor College,10145,California,Total Minority,8568,0.844554

In [20]:
IPEDS_data = pd.read_csv('IPEDS_data.csv')
IPEDS_data

,ID number,Name,year,ZIP code,Highest degree offered,County name,Longitude location of institution,Latitude location of institution,Religious affiliation,Offers Less than one year certificate,...,Percent of freshmen receiving federal grant aid,Percent of freshmen receiving Pell grants,Percent of freshmen receiving other federal grant aid,Percent of freshmen receiving state/local grant aid,Percent of freshmen receiving institutional grant aid,Percent of freshmen receiving student loan aid,Percent of freshmen receiving federal student loans,Percent of freshmen receiving other loan aid,Endowment assets (year end) per FTE enrollment (GASB),Endowment assets (year end) per FTE enrollment (FASB)
0,100654,Alabama A & M University,2013,35762,Doctor's degree - research/scholarship,Madison County,-86.568502,34.783368,Not applicable,Implied no,...,81.0,81.0,7.0,1.0,32.0,89.0,89.0,1.0,NaN,NaN
1,100663,University of Alabama at Birmingham,2013,35294-0110,Doctor's degree - research/scholarship and pro...,Jefferson County,-86.809170,33.502230,Not applicable,Implied no,...,36.0,36.0,10.0,0.0,60.0,56.0,55.0,5.0,24136.0,NaN
2,100690,Amridge University,2013,36117-3553,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.174010,32.362609,Churches of Christ,Implied no,...,90.0,90.0,0.0,40.0,90.0,100.0,100.0,0.0,NaN,302.0
3,100706,University of Alabama in Huntsville,2013,35899,Doctor's degree - research/scholarship and pro...,Madison County,-86.638420,34.722818,Not applicable,Yes,...,31.0,31.0,4.0,1.0,63.0,46.0,46.0,3.0,11502.0,NaN
4,100724,Alabama State University,2013,36104-0271,Doctor's degree - research/scholarship and pro...,Montgomery County,-86.295677,32.364317,Not applicable,Implied no,...,76.0,76.0,13.0,11.0,34.0,81.0,81.0,0.0,13202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,451671,University of South Florida-Sarasota-Manatee,2013,34243-2049,Master's degree,Manatee County,-82.562951,27.391766,Not applicable,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4422.0,NaN
1530,454184,The Kingâ€™s College,2013,10004,Bachelor's degree,New York County,-74.012348,40.706861,Interdenominational,Implied no,...,34.0,34.0,10.0,4.0,100.0,57.0,56.0,12.0,NaN,935.0
1531,454582,Ottawa University-Online,2013,66067,Master's degree,Franklin County,-95.263775,38.602692,American Baptist,Implied no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20863.0
1532,455770,Providence Christian College,2013,91104,Bachelor's degree,Los Angeles County,-118.118491,34.172750,Undenominational,Implied no,...,50.0,50.0,14.0,0.0,100.0,64.0,64.0,14.0,NaN,350.0
1533,456490,Polytechnic University of Puerto Rico-Orlando,2013,32825,Master's degree,Orange County,-81.254951,28.551470,Not applicable,Implied no,...,100.0,100.0,0.0,50.0,0.0,50.0,50.0,0.0,NaN,NaN

In [21]:
salary_potential = pd.read_csv('salary_potential.csv')
salary_potential

,rank,name,state_name,early_career_pay,mid_career_pay,make_world_better_percent,stem_percent
0,1,Auburn University,Alabama,54400,104500,51.0,31
1,2,University of Alabama in Huntsville,Alabama,57500,103900,59.0,45
2,3,The University of Alabama,Alabama,52300,97400,50.0,15
3,4,Tuskegee University,Alabama,54500,93500,61.0,30
4,5,Samford University,Alabama,48400,90500,52.0,3
...,...,...,...,...,...,...,...
930,22,Viterbo University,Wisconsin,46800,81900,62.0,3
931,23,Concordia University-Wisconsin,Wisconsin,46700,81600,61.0,9
932,24,University of Wisconsin-Parkside,Wisconsin,46000,81400,47.0,17
933,25,University of Wisconsin-River Falls,Wisconsin,47100,81300,52.0,14
934,1,University of Wyoming,Wyoming,52400,98800,58.0,25

This is a Text Cell